<div fxFlex="100%" fxLayout="column">
  <h1>Welcome to the Forms page</h1>
  <mat-divider class="forms-divider"></mat-divider>
  
  <h3>One thing I love about the Angular framework is the amount of 
    features and support it has for forms. For this particular form below, 
    I used the <code>ReactiveFormsModule</code> and <code>FormBuilder</code> to build and 
    group the controls. Each <code>FormControl</code> has at least one validator built in. 
    The Submit button will listen to the status of the form and will be enabled only when the form 
    is valid.
  </h3>
  <div class="form-page">
    <div class="standard-form" *ngIf="randoForm" fxFlex fxLayout="column" fxLayoutAlign="space-between">
      <bekahs-input
        fxFlex 
        [control]="randoForm.controls.name"
        label="Name"
        showTooltip="true"
        disabled="false"
        placeholder="e.g. John Doe"
        tooltipText="Your Name. Input will validate for content and length (20 max) on blur."
        required="true"></bekahs-input>
      <bekahs-input
        fxFlex
        [control]="randoForm.controls.email"
        label="Email"
        placeholder="e.g. bekahiscool@gmail.com"
        disabled="false"
        showTooltip="true"
        required="true"
        tooltipText="Your email. Input will validate for content, email format, and length(20)"
      ></bekahs-input>
      <div class="standard-form__phone" fxFlex fxLayout="row nowrap">
        <bekahs-input
          fxFlex="75"
          fxFlex.xs="70"
          [control]="randoForm.controls.phone"
          type="tel"
          placeholder="(xxx)-xxx-xxxx"
          label="Phone Number"
          disabled="false"
          showTooltip="true"
          required="true"
          tooltipText="Your Phone Number. Input will validate length of input. Bekah's phone mask directive applied (e.g. (123)-123-1234)"
        ></bekahs-input>
        <bekahs-input
          fxFlex="25"
          fxFlex.xs="30"
          class="standard-form__phone__ext"
          [control]="randoForm.controls.ext"
          disabled="false"
          label="ext"
          placeholder="123 or 1234"
          type="ext"
          required="false"
          showTooltip="true"
          tooltipText="Extension to your phone number, if availble. Will validate length(4) and append to phone for submit."
          >
        </bekahs-input>
      </div>
      <bekahs-input
        fxFlex
        label="Job Title"
        type="text"
        [control]="randoForm.controls.jobTitle"
        required="true"
        showTooltip="true"
        tooltipText="Your job title. Input will validate content and max length of 40."></bekahs-input>
      <bekahs-input
        fxFlex
        label="Company"
        type="text"
        [control]="randoForm.controls.company"
        required="false"
        showTooltip="true"
        tooltipText="The company you work for, if available. Input will validate max length(40)"></bekahs-input>
      
      <div class="submit-form" fxLayoutAlign="flex-end">
        <button 
          mat-raised-button 
          color="primary"
          (click)="onFormSubmit()"
          [disabled]="randoForm.status === 'INVALID'">Submit</button>
      </div>
    </div>
    <mat-divider class="xs-divider"></mat-divider>
    <div class="description" *ngIf="randoForm" fxFlex fxLayout="column">
      <h4><i>Bekah's Input</i></h4>
      <p>I created a wrapper component called <code>bekahs-input</code> for the Angular Material Input component to handle multiple input types (text, email, password, date, tel, ext, time, and url). 
      </p> 
      <p><code>bekahsPhoneMask</code> is a custom directive puts the  "(000)-000-0000" mask on the phone input, and "000" or "0000" format on the ext input.</p><br>
      <h4><i>State Management</i></h4>
      <p>When you hit submit, the information you provided in the form will be saved to the state via NGRX in localstorage. The app will then use the information throughout the application. Hit the "Reset State" button to clear it.</p>
    </div>
  </div>
</div>