<div fxFlex="100%" fxLayout="column" class="form-page-container">
  <h1>Welcome to the Forms page</h1>
  <mat-divider class="forms-divider"></mat-divider>
  
  <h3>One thing I love about the Angular framework is the amount of 
    features and support it has for forms. For this particular form below, 
    I used the <code>ReactiveFormsModule</code> and <code>FormBuilder</code> to build and 
    group the controls. Each <code>FormControl</code> has at least one validator built in. 
    The Submit button will listen to the status of the form and will be enabled only when the form 
    is valid.
  </h3>
  <div class="form-page">
    <app-sign-up-form 
    fxFlex="70%"
    [form]="randoForm"
    (onSubmitClicked)="onFormSubmit($event)"></app-sign-up-form>
    <mat-divider class="xs-divider"></mat-divider>
    <div 
      class="description" 
      *ngIf="randoForm" 
      fxFlex 
      fxLayout="column" 
      fxFlex="30%">
      <h4><i>Bekah's Input</i></h4>
      <p>I created a wrapper component called <code>bekahs-input</code> for the 
        Angular Material Input component to handle multiple input types 
        (text, email, password, date, tel, ext, time, and url). 
      </p> 
      <p><code>bekahsPhoneMask</code> is a custom directive puts the  
        "(000)-000-0000" mask on the phone input, and "000" or "0000" format on 
        the ext input.
      </p><br>
      <h4><i>State Management</i></h4>
      <p>When you hit submit, the information you provided in the form will be 
        saved to the state via NGRX in <code>localStorage</code>. The app will then use the 
        information throughout the application. Hit the "Reset State" button located in the nav menu to
         clear it.</p>
    </div>
  </div>
</div>